{% load static %}

<script type="text/javascript">var joomtutPopHeight = 600;var joomtutPopWidth = 400;var jtPbFixDisp=1;
</script>






<html>
<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>


<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My Website</title>
  <!-- Include the necessary CSS and JS files -->
  <link rel="stylesheet" href="path/to/bootstrap.min.css">
  <script src="path/to/jquery.min.js"></script>
  <script src="path/to/bootstrap.min.js"></script>
</head>
<body>
  <!-- Navbar --><br>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="{% static 'C:\Users\DELL\Downloads\django-student-management-system-master\django-student-management-system-master\static\admin\img\gis\s6.jpg' %}" alt="Logo" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://sriprakash.org/"><b>sri prakash web</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/spescontactus"><b>Contact Us</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/achievements/cbse-achivements/academic"><b>About Us</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/gallery/atidhi"><b>Gallery</b></a>
        </li><li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/housetel"><b>Hostel</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/careers"><b>Carriers</b></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/institutions/schools"><b>Institutions</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/home/infrastructure"><b>InfraStructure</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://sriprakash.org/sri4/index.php/achievements/cbse-achivements/extra-curricular"><b>News</b></a>
        </li>
      </ul>
    </div>
  </nav>



  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static "fontawesome-free/css/all.min.css" %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="{% static 'tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static "icheck-bootstrap/icheck-bootstrap.min.css" %}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{% static "jqvmap/jqvmap.min.css" %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css'  %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static "overlayScrollbars/css/OverlayScrollbars.min.css" %}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static "daterangepicker/daterangepicker.css" %}">
  <!-- summernote -->
  <link rel="stylesheet" href="{% static "summernote/summernote-bs4.css" %}">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


</head>



{% block content %}


{% endblock %}

<!-- jQuery -->
<script src="{% static "jquery/jquery.min.js"  %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static "jquery-ui/jquery-ui.min.js"  %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{% static "bootstrap/js/bootstrap.bundle.min.js"  %}"></script>
<!-- ChartJS -->
<script src="{% static "chart.js/Chart.min.js"  %}"></script>
<!-- Sparkline -->
<script src="{% static "sparklines/sparkline.js"  %}"></script>
<!-- JQVMap -->
<script src="{% static "jqvmap/jquery.vmap.min.js"  %}"></script>
<script src="{% static "jqvmap/maps/jquery.vmap.usa.js"  %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static "jquery-knob/jquery.knob.min.js"  %}"></script>
<!-- daterangepicker -->
<script src="{% static "moment/moment.min.js"  %}"></script>
<script src="{% static "daterangepicker/daterangepicker.js"  %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static "tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"  %}"></script>
<!-- Summernote -->
<script src="{% static "summernote/summernote-bs4.min.js"  %}"></script>
<!-- overlayScrollbars -->
<script src="{% static "overlayScrollbars/js/jquery.overlayScrollbars.min.js"  %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js'  %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'dist/js/pages/dashboard.js'  %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js'  %}"></script>
</body>
</html>
<div class="marquee">
  <marquee class="marq1" direction="left" behavior="scroll" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
    <p>
      SSC - 2023 Happy to share that our School students secured 592, 590, 584, 582, 581... out of 600 in SSC-2023 results.
      IPE - 2023 Happy to share that our Junior College Students secured 990, 987, 986, 984... out of 1000 Marks in Sr. Inter and 465, 464, 462, 461, 460... out of 470 in Jr. Inter 2023 results.
      CBSE X - 2023 Happy to share that, our CBSE X students secured... 490, 487, 483, 482, 481 and many more out of 500, 100% pass in CBSE X Results 2023.
      CBSE +2 - 2023 Happy to share that, our CBSE +2 students secured 464, 460, 452, 451, 450... out of 500 in CBSE Plus 2 results. School secured 100% Pass out of which 88% students got First Class.
    </p>
  </marquee>
</div>
  <style>
    .main {
    text-align: center;
}
.marq1 {

     padding-top: 40px;
     padding-bottom: 30px;
        }


.logo img {
  height: 100px;
  width : 500px;
}

  </style>
<style>
  body {
    background-image: url("{% static 'admin/img/gis/spvn.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navbar-nav .nav-item .nav-link {
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: red;
}.marquee {
  background-color: lightyellow;
  display: inline-block;
  padding: 10px;
}

.marquee p {
  color: red;
  display: inline;
  margin: 0;
  padding: 0;
}



</style>



